body {
    background: white url(https://media.giphy.com/media/K0RIh9LhAe2gE/giphy.gif) top right;
	
	
}

p {
    color: white;
	font-family: Helvetica;
}

h1 {
	font-variant: small-caps;
	font-size: 45px;
	color: #2c897d;
	font-family: "Courier New";
	font-style:italic;
}

h2 {
	font-variant: small-caps;
	font-size: 35px;
	color: black;
	font-family: "Courier New";
	font-style:italic;
}

li {
    color: black;
	font-family: Helvetica;
	
}